body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.head {
    background-color:chocolate;
    padding: 15px 0;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.head nav {
    display: inline-block;
    color: white;
    margin: 0 15px;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s;

}


.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h1,
h2,
h3 {
    color: #333;
    background-color: antiquewhite;
    text-align: center;
}

/* Scroll to top button styling */
#scroll-top {
    display: block;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #5a67d8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
    margin: 20px auto;
}

#scroll-top:hover {
    background-color: #434190;
}

footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
